.main {
  width: 40%;
  margin-left: 10%;
  /* background-color: rgb(101, 53, 96); */
}
.title {
  margin: 2% 2%;
  font-size: 2rem;
  font-weight: bold;
}
.form {
  text-align: left;
  /* background-color: rgb(158, 90, 55); */
  width: 90%;
  margin: 2% 2%;
  align-items: center;
  display: flex;
}
.form label {
  /* font-weight: bold; */
  font-size: 1.5rem;
}
.form input {
  height: 1.5rem;
}
.btn {
  margin-left: 2rem;
}
/* select */
.select {
  width: 20%;
  height: 2rem;
  margin-right: 2%;
}
.input{
  font-weight: normal;
  height: 20px;
}