.headerNav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #16090e;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  padding-left: 1rem;
}
/* 
.headerNav ul {
  display: flex;
  width: 95%;
  height: 80vh;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
}
.icons {
  color: white;
  width: 5rem;
  height: 5rem;
  background-color: #ef816c;
}
.headerNav li {
  padding: 1rem 0.2rem 1.15rem;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
}
.headerNav a {
  width: 100%;
  padding: 1rem 2rem 1.15rem;
  cursor: pointer;
  color: #ebebeb;
  min-width: 80px;
  margin: auto;
  font-weight: normal;
}
.headerNav li:hover {
  background-image: url('../../../public/img/button.webp');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
}
.active {
  background-image: url('../../../public/img/button.webp');
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
  font-weight: bold;
  width: 100%;
}
@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
} */

/*  */

.nav_dropdown {
  font-family: monospace;
  margin-right: 5rem;
}

.nav_dropdown ul {
  /* background: darkorange; */
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav_dropdown li {
  color: #fff;
  /* background: darkorange; */
  display: block;
  float: left;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.nav_dropdown li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav_dropdown li:hover,
.nav_dropdown li:focus-within {
  /* background: rgb(78, 78, 78); */
  cursor: pointer;
  animation: spring 300ms ease-out;
}

.nav_dropdown li:focus-within a {
  outline: none;
}

.nav_dropdown ul li ul {
  background: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
.nav_dropdown ul li ul li:hover{
  background-color: #362b2f;
}
.nav_dropdown ul li:hover > ul,
.nav_dropdown ul li:focus-within > ul,
.nav_dropdown ul li ul:hover,
.nav_dropdown ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav_dropdown ul li ul li {
  clear: both;
  width: 5rem;
}
