.profile_container {
  margin-top: 12rem;
  padding: 0 10%;
}
/* 1200 */
@media (max-width: 75em) {
  .profile_container {
    margin-top: 12rem;
    padding: 0 4%;
  }
}
/* 900px */
@media (max-width: 57em) {
  .profile_container {
    margin-top: 12rem;
    padding: 0 0;
  }
}
