.main {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.authform {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 4rem rgba(8, 7, 16, 0.6);
  padding: 5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.authform * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.authform h3 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 4.2rem;
  text-align: center;
}

.authform label {
  display: block;
  margin-top: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.authform input {
  display: block;
  height: 5rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 1rem;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 300;
}
.authform::placeholder {
  color: #e5e5e5;
}
.authform button {
  width: 100%;
  /* background-color: #ffffff;
  color: #080710; */
  background-color: #212529;
  color: #ffffff;
  padding: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.authform button:hover {
  /* background-color: #212529;
  color: #ffffff; */
  background-color: #ffffff;
  color: #080710;
}
.social {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 1.4rem;
}
.social .social_item:hover {
  background-color: rgba(255, 255, 255, 0.47);
}
.social_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: red;
  width: 15rem;
  border-radius: 3px;
  padding: 0.5rem 1rem 1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.27);
  color: #eaf0fb;
  text-align: center;
}
.social_image {
  height: 3rem;
}
.social_image img {
  height: 100%;
}
.signup {
  margin: 1rem 1rem;
  text-align: center;
  font-size: 1.4rem;
}
.signup a:hover {
  color: #66d9e8;
}
.loading_div {
  margin: 1rem;
  min-height: 4.5rem;
}
.form_input {
  width: 100%;
}
