.profile {
  grid-column: span 2;
}
.title {
  font-size: 3.2rem;
}
.form_info {
  gap: 1rem;
  margin-top: 5rem;
}
.form_info_label {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
}
.form_info_input {
  grid-column: span 2;
}
.form_info_input {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 20px;
  border: 1px solid rgb(84, 84, 84);
  border-color: rgba(144, 144, 144, 0.535);
  box-shadow: 0 1px 1px rgba(33, 37, 41, 0.1);
  transition: all 0.3s;
}
.form_info_input:focus {
  color: inherit;
  border-color: rgb(102, 217, 232);
}
.form_info_input_not_valid {
  border-color: red;
}
.btn_container {
  grid-column: 2/-1;
  justify-self: center;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 20px;
  /* border: 1px solid rgb(84, 84, 84); */
  border: none;
  border-color: rgba(144, 144, 144, 0.7);
  box-shadow: 0 2px 2px rgba(33, 37, 41, 0.1);
  font-size: 1.8rem;
  cursor: pointer;

  transition: all 0.3s;
}
.update {
  background-color: #c2fbd7;
  color: green;
}
.update:hover,
.update:active {
  background-color: green;
  color: white;
  box-shadow: 0 2px 2px rgba(33, 37, 41, 0.5);
}
.cancel {
  background-color: #ffec99;
  color: #e67700;
}
.email_field {
  pointer-events: none;
  color: gray;
}
